#center {
    position: relative;

    margin: auto;

    height: 500px;
    width: 450px;
}

#centerUsers {
    position: relative;

    margin: auto;

    height: 500px;
    width: 800px;
}

nav {
    height: 50px;
}

label
{
    display: block;
    width: 130px;
    float: left;
}

.styleLabel {
    margin-bottom: 10px;
}

.styleInput {
    width: 275px;
    
    margin-bottom: 10px;
}

#valider {
    margin-top: 10px;
}

#reset {
    margin-top: 10px;
}

table tr td {
    padding: 5px;
    
    border: black groove 2px;
}

.noBorder {
    border: none;
}

td a {
    color: black;
    background-color: deepskyblue;
    text-decoration: none;
    
    padding-left: 10px;
    padding-right: 10px;
    
    border-radius: 5px;
}