#center {
    position: relative;

    margin: auto;

    height: 500px;
    width: 450px;
}

#formulaire {
    position: absolute;

    top: 10px;
}

label
{
    display: block;
    width: 150px;
    float: left;
}

.styleLabel {
    margin-bottom: 10px;
}

.styleInput {
    margin-bottom: 10px;
}

#valider {
    margin-top: 10px;
}

#reset {
    margin-top: 10px;
}